/* Selector por etiqueta de HTML */
h2 {
    color: red;
}

/* Selector por clase */
/* En html es CLASS pero en CSS es un . (punto) */
.texto-cafe {
    font-size: 40px;
    color: burlywood;
} 

.texto-cafe {
    color: green;
}